set default=0
set timeout=5
set gfxmode=auto

menuentry "CodixOS" {
    set root=(cd)
    linux /boot/codixos.bin
}

menuentry "CodixOS (VGA text mode)" {
    set root=(cd)
    linux /boot/codixos.bin vga=text
}

menuentry "CodixOS (Serial console)" {
    set root=(cd)
    linux /boot/codixos.bin console=ttyS0,115200
}
